*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

.backBox{
    height: 750px;
    background-image: url(https://github.com/manuelGentile22/NetflixHomePage/blob/main/img/collectionNetflix.jpeg?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#navbar{
    position: relative;
    top: 0;
    width: 100%;
}

#bg{
    background-color: transparent;
}

#colorBtn{
    background-color: red;
    border: red;
    color: white;
    padding: 5px 15px;
    margin-right: 10px;
}

.header{
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
}

.title{
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.titleMid{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.paragraph{
    text-align: center;
    color: white;
}

.mailbox{
    height: 50px;
    width: 100%;
}

.btnsend{
    color: white;
    background-color: red;
    height: 50px;
    width: 100%;
}

#lineaDivider{
    width: 100%;
    height: 5px;
    background-color: rgb(78, 78, 78);
}

.accWidth{
    width: 80%;
}

.container-domande{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-button, .accordion-body{
    background-color: rgb(78, 78, 78);
    color: white;
    border: none;
}

.accordion-button:not(.collapsed){
    background-color: rgb(78, 78, 78);
    color: white;
    border: none;
}

.accordion-button:focus{
    background-color: rgb(78, 78, 78);
    color: white;
    border: none;
}